$v-focus-style: none;
@import "../valo/valo.scss";

@mixin tvshowsTheme {
  @include valo;


  /* General */
  .v-margin-left   {padding-left:   10px;}
  .v-margin-right  {padding-right:  10px;}
  .v-margin-top    {padding-top:    10px;}
  .v-margin-bottom {padding-bottom: 10px;}

  /* Login */
  .v-slot-login-box {
    background-image: url("img/background-login.jpg");

    .login-box {
      border-radius: 3px;
      background-color: #f5f5f7;
      -webkit-box-shadow: 0px 0px 20px #666666;
    }

    .v-button {
      border: 0px;
      border-radius: 0px;
      background: #ed1c24;
      color: white;
      text-transform: uppercase;
    }

    .v-textfield {
      border-radius: 0px;
    }

    .label-title {
      font-size: 25px;
    }

    .v-slot-image-logo1 {
      height: 0px;

      .image-logo1 {
        position: relative;
        top: -120px;

        .v-image {
          border-radius: 50%;
        }
      }
    }

    .image-logo2 {

      .v-image {
        border-radius: 50%;
      }
    }

  }

  /* Home */
  .home-view {
    background-color: #0A0A0A;
  }

  .home-container {
    max-width: 1150px;
  }

  /* Menu Bar */
  .home-menubar {
    //background-color: black;

    .v-button {
      border: 0px;
      border-radius: 0px;
      background: transparent;
      color: white;
      font-size: 14px;
      font-weight: 100;
      @include box-shadow(none);
    }

    .v-button:hover {
      background: transparent;
      color: #ed1c24;
    }

    .v-button:after {
      background-color: transparent !important;
    }

    .tvshowsTheme .v-button::after {
      background-color: transparent !important;
    }

    .home-logo {
      .v-image {
        border-radius: 50%;
        position: relative;
        top: 5px;
        z-index: 1;
      }
    }

    .profile-image {
      .v-image {
        border-radius: 50%;
        border: 2px solid;
      }
    }

    .v-textfield {
      height: 30px;
      margin-left:  20px;
      background-color: transparent;
      background: url("img/search.png") no-repeat 6px 6px;
      background-size: 20px;
      padding-left: 33px;
      color: white;
      font-weight: 100;
      font-size: 14px;
      border: 0px;
      border-radius: 0px;
      @include box-shadow(none);
    }

    .v-textfield:focus {
      background-color: #252525;
    }
  }

  .v-slot-home-menubar {
    background: rgba(0,0,0,0.5);
    position: relative;
    z-index: 2;
  }

  /* Menu Lateral */
  .menu-lateral {

    .v-button {
      border: 0px;
      border-radius: 0px;
      background: transparent;
      color: white;
      font-size: 14px;
      font-weight: 100;
      @include box-shadow(none);
    }

    .v-button:hover {
      background: transparent;
      color: #ed1c24;
    }

    .profile-image {
      .v-image {
        border-radius: 50%;
        border: 3px solid;
      }
    }
  }


  /* TV Show component */
  .componet-tvshow {
    border: 1px solid #0A0A0A;

    .v-slot-image-tvshow {
      overflow: hidden;

      .v-image {
        max-width: 100%;
      }
    }

    .title-tvshow {
      .v-label {
        font-size: 20px;
        text-shadow: 10px 10px 10px black;
        position: relative;
        color: white;
        padding: 0 0 0 20px;
        top: -40px;
      }
    }

    .v-slot .v-slot-title-tvshow {
      height: 0px;
    }

    .description-tvshow {
      .v-label {
        position: absolute;
        top: 0px;
        padding: 10px;
        color: transparent;
      }
    }

    .v-slot .v-slot-description-tvshow {
      height: 0px;
    }

  }

  .componet-tvshow-hover {

    .v-slot-image-tvshow {
      overflow: hidden;

      .v-image {
        max-width: 100%;
        opacity: 0.1;
      }
    }

    .description-tvshow {
      .v-label {
        position: absolute;
        top: 0px;
        padding: 10px;
        color: white;
      }
    }
  }

}
